<div class="table-responsive">
    <table id="studentlist" class="table table-striped table-bordered table-condensed table-hover">
		<tr>
			<th>Id </th>
	        <th>Firstname </th>
	        <th>Lastname </th>
	        <th>Email </th>
	        <th>DOJ </th>	
	    </tr>
	</table>
</div>